In [3]:
#q1
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [4]:
#q2
import platform
print(platform.python_version())

3.8.8

In [5]:
#q3
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2021-10-24 23:55:46

In [7]:
#q4
r=int(input("enter radius"));
print(3.14*r*r);

enter radius33
3419.46

In [10]:
#q5
a=input("enter first name");
b=input("enter last name");
print(b+" "+a);

enter first namesabir
enter last nameMuhammad Sabir
Muhammad Sabir sabir

In [11]:
#q6
a=int(input());
b=int(input());
print(a+b);

3
4
7

In [19]:
#q7
a=int(input("enter math marks out of 100"));
b=int(input("enter english marks out of 100"));
c=int(input("enter islamiat marks out of 100"));
d=int(input("enter computer science marks out of 100"));
e=int(input("enter pst marks out of 100"));
marks=((a+b+c+d+e)/500)*100;
print(marks);

enter math marks out of 100234
enter english marks out of 100234
enter islamiat marks out of 100234
enter computer science marks out of 100234
enter pst marks out of 100234
234.0

In [21]:
#q8
a=int(input("enter a number"));
if a%2==0:
    print("even");
else:
    print("odd");

enter a number9
odd

In [22]:
#q9
a=["alpha","b",3,5,3]
print(len(a));

5

In [23]:
#q10
a=[1,2,3,4,5,6,7,8,9,10]
print(sum(a));

55

In [32]:
#q11
a=[1,2,3,4,5,6,7,17,9,10]
max=a[0];
for b in a:
        if b > max:
            max=b;
        
print(max);

17

In [33]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for b in a:
    if b<5:
        print(b);

1
1
2
3